/* Set background color to blue */
body {
    background-color: #007bff;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 10px;
    background-color: white; /* Set the container background color to white */
}

.italic-heading {
    font-style: italic;
    display: flex;
    align-items: center; /* Center the image vertically with text */
    margin-bottom: 10px;
}

.italic-heading img {
    margin-right: 10px; /* Add some spacing between the image and text */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="submit"] {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
}
